In [69]:
import main as m
import pandas as pd

In [70]:
df_head = pd.read_csv('a_example.in', delimiter = ' ', nrows=1, header = None)
df_head

   0  1  2  3  4   5
0  3  4  2  3  2  10

In [27]:
df = m.readFile()
df

   xStart  yStart  xFinish  yFinish  earliestStart  latestFinish
0       0       0        1        3              2             9
1       1       2        1        0              0             9
2       2       0        2        2              0             9

In [28]:
def distanceBetweenTwoPoints(xS, yS, xF, yF):
    return (abs(xS-xF) + abs(yS-yF))

In [29]:
distanceBetweenTwoPoints(df['xStart'], df['yStart'], df['xFinish'], df['yFinish'])

0    4
1    2
2    2
dtype: int64

In [68]:
actual_time = 0
for i in range (0, df_head.loc[0][5]):
    for j in range (0, df_head.loc[0][2]):
        if (actual_time + 
                  distanceBetweenTwoPoints(0, 0, df.loc[j]['xStart'], df.loc[j]['yStart']) +
                  distanceBetweenTwoPoints(df.loc[j]['xStart'], df.loc[j]['yStart'], df.loc[j]['xFinish'], 
                                           df.loc[j]['yFinish'])) < df.loc[j]['latestFinish']:
        
            df['dis'] = distanceBetweenTwoPoints(0, 0, df.loc[j]['xStart'], df.loc[j]['yStart'])
            df.sort_values (by = 'dis', ascending = True)
            df = df.drop('dis', axis=1)
    actual_time = actual_time+1
df

   xStart  yStart  xFinish  yFinish  earliestStart  latestFinish
0       0       0        1        3              2             9
1       1       2        1        0              0             9
2       2       0        2        2              0             9